@font-face {
  font-family: 'LXGWWenKai-Regular';
  src: url('/fonts/LXGWWenKai-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'LXGWWenKai-Regular' !important;
}